body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 20px;
  font-family:'Droid Sans', sans-serif;
  color: rgba(255, 255, 255, 0.68);
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  text-align: right;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.form {
  display: block;
  width: 600px;
  margin: 40px auto;
}
.formtextarea {
  min-height: 250px;
}
.formsubmit {
  width: 134px;
  margin-right: auto;
  margin-left: auto;
  float: left;
}
.formlabel {
  margin-top: 9px;
  margin-bottom: 9px;
  text-align: right;
}
.formsubmitblockmobile {
  display: none;
}
.topsection {
  background-color: rgba(0, 0, 0, 0.78);
}
.subtitle {
  margin-bottom: 15px;
  float: right;
  font-family:'Droid Serif', serif;
  color: #cfcfcf;
}
.topcontainer {
  width: 600px;
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .form {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .topcontainer {
    width: 100%;
  }
}
@media (max-width: 479px) {
  h1 {
    text-align: center;
  }
  .formsubmit {
    width: 100%;
  }
  .formlabel {
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
  }
  .formsubmitrow {
    display: none;
  }
  .formsubmitblockmobile {
    display: block;
  }
  .subtitle {
    display: block;
    float: none;
    text-align: center;
  }
}
